<ion-view title="Dictionary" ng-controller="DictHomeCtrl">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="main-content">
            <div class="head-content">
                <div class="padded-row">
                    <angucomplete-alt id="search_input" placeholder="Tra từ" pause="0" selected-object="wordSelected" local-data="words" search-fields="title" title-field="title" minlength="1" input-class="form-control form-control-small" match-class="highlight-blue" />
                </div>
            </div>

                <div class="list card search-result-box" ng-show="wordSelected">

                    <div class="item header-search-result">
                        <span class="bold-span">{{wordSelected.originalObject.title}}</span>  
                    </div>

                    <div class="item item-body search-result-content">
                        <div ng-bind-html="wordSelected.originalObject.content"></div>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios7-plus-outline"></i>
                            Save
                        </a>
                    </div>

                </div>
            </div>
    </ion-content>
</ion-view>
