<head>
    <link href="css/home.css" rel="stylesheet">
</head>
<ion-view has-header="false" title="" ng-controller="DictHomeCtrl">
    <div class="bar bar-header item-input-inset search-bar">
        <label class="item-input-wrapper label-search-dict">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <!--<angucomplete-alt results="resultsCollection" id="search_input" class="search-dict" placeholder="Tra từ" pause="0" selected-object="wordSelected" local-data="words" search-fields="title" title-field="title" minlength="1" input-class="form-control form-control-small" match-class="highlight-blue" />-->
            <input placeholder="Tra từ" id="search_input" type="text" ng-model="searchStr" ng-change="searchDict(searchStr,1)" class="search-dict">
        </label>
    </div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-button"></button>
    </ion-nav-buttons>

    <ion-content class="main-body has-header" id="home-content">
        <div class="main-content">
             <div class="list card search-result-box" id="word_selected" ng-show="wordSelected">
                <div class="item">
                    <span class="bold-span">{{selectedObject.title}}</span>  
                    <span><{{selectedObject.speech}}></span>
                </div>
                <div class="item item-body">
                    <ion-scroll class="word-content">
                        <div ng-bind-html="selectedObject.content"></div>
                    </ion-scroll>
                </div>

                <div class="item next-word-item" ng-click="selectNextWord(nextObject.id)">
                    <div class="next-word-link item-icon-right" href="#">{{nextObject.title}}
                        <i class="icon ion-ios7-arrow-right"></i>
                    </div>  
                </div>
                 <div id="ads_block"></div>
            </div>
                <div class="list search-result" ng-show="!wordSelected">
                    <a class="item item-icon-right" href="#" ng-repeat="res in resultsCollection" ng-click="selectResult($index)"> 
                        <span>
                            {{res.title}}
                        </span>
                        <br/>
                        <span class="short-content">{{res.content}}</span>
                        <i class="icon ion-ios7-arrow-right search-item"></i>
                    </a>
                    <a class="item load-more-result" ng-if="hasNextPage" ng-click="searchDict(searchStr,currentPage+1)" href="#">
                        Show more result
                    </a>
                </div>
           
        </div>
    </ion-content>
</ion-view>
