/* 
    Document   : home
    Created on : Jun 7, 2014, 9:54:37 PM
    Author     : Dat Maria
    Description:
        Purpose of the stylesheet follows.
*/
.nav-bar{
    width: 50px;
    background: transparent !important;
}
.label-search-dict{
    background: #fff;
    border: 1px solid #eee;
    height: 40px;
}
.search-bar{
    margin-left: 40px;
    width: auto;
    border-bottom: 1px solid #ddd;
    height: 55px;
}
.search-bar label{
    margin-top: -4px!important;
}
.search-bar label i{
    font-size: 20px!important;
}
.search-dict{
    width: 100%!important;
    height: 40px!important;
}
.search-item{
    color: #ddd !important;
    font-size: 24px !important;
}
.search-result a:active{
    background: #f2f2f2!important;
}
