/* Empty. Add your own CSS if you like */
.bar.bar-stable{
    border-color: #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-bar{
    width: 100%;
    background: transparent !important;
}
.title{
    color: #3b5998!important;
}
button.ion-navicon{
    color: #3B5998  !important;
}
.search-result-box{
    border-radius: 10px;
    background: #f8f8f8;
    border: none;
}
.search-result-box .header-search-result{
    background: #f8f8f8;
}
.search-result-box .item{
    background: transparent;
    border: none;
}
.search-result-box .item-body{
    border-left: 8px solid #56C5FF;
    border-left-color: #56C5FF;
}
.padded-row{
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px !important;
    margin-top: 10px;
}
.search-result-box .card .item:last-child{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.search-result-box .tab-item{
    color: #56C5FF;
    text-align: left;
    max-width: none;
    padding-left: 20px;
}
ion-side-menu > *, ion-side-menu .item-content{
    background: #f2f2f2 !important;
    color: #3B5998 !important;
}
ion-side-menu header{
    background: #f2f2f2 !important;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
}
ion-side-menu .item{
    border-color: #ddd;
}
a.item:after, button.item:after, .item[href] .item-content:after, .item[ng-click] .item-content:after{
    content: '' !important;
}
ion-side-menu *{
    color: #3B5998 !important;
}
ion-side-menu a:active{
    background: #ddd !important;
    border: none !important;
}
.search-box{
    margin-top: 20px;
}
.main-content{
    /*padding: 5px;*/
}
.menu-bar{
    border-bottom: 1px solid #ddd !important;
}
.menu-bar h1{
    color:#3B5998 !important;
}
.card{
    margin-top: 30px;
    /* padding: 0; */
    margin: 30px 0px 0px 0px;
}
.bold-span{
    font-weight: bold;
}
.search-result-content{
    margin: 0px  !important;
    margin-bottom: 1px !important;
}

.icon-home{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/icon/house-32.png);
    background-size: 16px 16px;
}
.grade-b .menu-content, .grade-c .menu-content{
    border-left: none;
    border-right: none;
    left: 0px;
    right: 0px;
}
.body-content{

}
.item-complex .item-content, .item-radio .item-content{
    padding: 10px 45px 10px 15px;
}