/* Empty. Add your own CSS if you like */
.sub-nav .list{
    background: transparent;
}
.sub-nav .item{
    background: transparent;
    border: none;
    height: 40px;
    font-size: 14px;
    text-indent: 25px;
    line-height: 8px;
}
.sub-nav .item:first-child{
    border-bottom: 1px solid #ddd;
}
.bar.bar-stable{
    border-color: #ddd;
    border-bottom: none;
}
.menu-button{
    padding: 5px 8px !important;
}
.main-body.has-header{
    top: 55px;
}

.nav-bar{
    width: 100%;
    height: 55px;
    background: transparent !important;
}
.nav-bar h1{
    line-height: 55px!important;
}
button.ion-navicon{
    color: #aaa  !important;
}

.search-result-box .tab-item{
    color: #56C5FF;
    text-align: left;
    max-width: none;
    padding-left: 20px;
    margin-left: 5px;
}
ion-side-menu > *, ion-side-menu .item-content{
    background: #f2f2f2 !important;
}
ion-side-menu header{
    background: #f2f2f2 !important;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
}
ion-side-menu .item{
    border-color: #ddd;
}
/*a.item:after, button.item:after, .item[href] .item-content:after, .item[ng-click] .item-content:after{
    content: '' !important;
}*/

ion-side-menu a:active{
    background: #ddd !important;
    border: none !important;
}
.search-box{
    margin-top: 20px;
}

.menu-bar{
    border-bottom: 1px solid #ddd !important;
}

.bold-span{
    font-weight: bold;
}
.search-result-content{
    margin: 0px  !important;
    margin-bottom: 1px !important;
}

.grade-b .menu-content, .grade-c .menu-content{
    border-left: none;
    border-right: none;
    left: 0px;
    right: 0px;
}
.body-content{

}
.item-complex .item-content, .item-radio .item-content{
    padding: 10px 45px 10px 15px;
}
.next-word-link{
    text-decoration: none;
    left: 15px;
    text-align: left;
    display: inline;
}

.next-word-item:active{
    background: #f9f9f9;
}
.next-word-item{
    color: #aaa;
}
.next-word-item i{
    color: #ddd;
}
.next-word-item:active i{
    color: #fff;
}
.word-content{
    max-height: 300px;
}
a.load-more-result{
    text-align: center;
    background: #ffffff;
    color: #ddd;
    height: 40px;
    font-size: 24px;
}
.short-content{
    color: #888;
    font-size: 14px;
    font-style: italic;
}
.char-list{
    background: #f2f2f2!important;
    width: 35px;
    float: left;
    position: relative;
    display: inline-block;
    color: #ddd;
    border: none;
}
.char-list .item{
    height: 35px;
    line-height: 5px;
    font-size: 14px;
    border: none;

}
.char-list .item:active{
    color: #000;
    background: #f2f2f2;
}
.right-content{
    position: absolute;
    width: auto;
    left: 50px;
    right: 0px;
}
.search-result-box.right-content{
    left: 40px;

}
.char-list .item{
    text-align: center;
}
.char-list .item.active{
    color: #000;
    background: #ffffff;
}
.search-result .item{
    border: none;
    border-bottom: 2px solid #fcfcfc;
    padding-left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.search-result-box{
    border-top:none;
    box-shadow: none;
    border-radius: 0px;
}
.search-result-box .item{
    border:none;
    border-top: 1px solid #f9f9f9;
    padding-left: 0;
}
.search-result-box .item:first-child{
    border:none;
}
.label-search-dict{
    border-radius: 5px;
    border: none !important;
    border-bottom: 1px solid #70DFF5 !important;
}
.label-search-dict i{
    color: #70DFF5;
}
.speech{
    color: #aaa;
}
.label-search-dict input{
    font-size: 16px;
}
.label-search-dict input::-webkit-input-placeholder{
    color: #eee;
}
.search-result .item i{
    right: 0px;
}
.search-result-box .item i{
    right: -10px;
}
.search-result-box .item:first-child i:last-child{
    float: right;
    margin-top: 3px;
    color: #aaa;
    cursor: pointer;
}